:root {
    --color-primary: #61666A;
    --color-secondary: #0047BA;
    --color-tertiary: #42464B;
    --color-additional: #ADB5BD;
    
    --font-size-xs: 0.8vw;
    --font-size-small: 1vw;
    --font-size-medium: 1.15vw;
    --font-size-large: 1.67vw;

  }